<!-- nominee - details 

<form class="container">
  <label>Name</label>
  <input type="text" name="name" id="name" placeholder="name" ><br>
  <label>Contact Number</label>
  <input type="text" name="contact-number" id="contact-number" placeholder="contact-number"><br>
  <label>Date of Birth</label>
  <input type="text" name="date=of-birth" id="date-of-birth" placeholder="Date of Birth"><br>c
  <label>RelationShip with Policy Holder</label>
  <input type="text" name="relationship" id="relationship" placeholder="Relationship with Policy Holder"><br>
  <label>Percentage Stake</label>
  <input type="text" name="percentage-stake id="percentage-stake" placeholder="Percentage Stake"><br>
 

</form> -->
