  policy-details works!


  <form class="container" [formGroup]="policyDetailsFormGroup">
    <label>planName</label>
    <input type="text" name="planName" id="planName" placeholder="planName" formControlName="planName"><br>
    <label>planType</label>
    <input type="text" name="planType" id="planType" placeholder="planType" formControlName="planType"><br>
    <label>tenure</label>
    <input type="text" name="tenure" id="tenure" placeholder="tenure" formControlName="tenure"><br>c
    <label>premiumFrequency</label>
    <input type="text" name="premiumFrequency" id="premiumFrequency" placeholder="premiumFrequency" formControlName="premiumFrequency"><br>
    <label>insurredAmount</label>
    <input type="text" name="insurredAmount" id="insurredAmount" placeholder="insurredAmount" formControlName="insurredAmount"><br>

    <label>inssuranceDate</label>
    <input type="text" name="inssuranceDate" id="inssuranceDate" placeholder="inssuranceDate" formControlName="inssuranceDate"><br>
    <label>policyMatureDate</label>
    <input type="text" name="policyMatureDate" id="policyMatureDate" placeholder="policyMatureDate" formControlName="policyMatureDate"><br>
    <label>policyPremium</label>
    <input type="text" name="policyPremium" id="policyPremium" placeholder="policyPremium" formControlName="policyPremium"><br>
    <label>maturityDate</label>
    <input type="text" name="maturityDate" id="maturityDate" placeholder="maturityDate" formControlName="maturityDate"><br>
    <label>maturityAmount</label>
    <input type="text" name="maturityAmount" id="maturityAmount" placeholder="maturityAmount" formControlName="maturityAmount"><br>
    
   
  
  </form>
